spring:
  datasource:
    url: jdbc:h2:mem:kyc;DB_CLOSE_DELAY=-1;MODE=Oracle
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true

spring.modulith.events.republish-outstanding-events-on-restart: true

logging.level.com.example.kyc: DEBUG
